<header>
    <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/auth/google">Login</a></li>
        <li><a href="/register">Register</a></li>

    </ul>
</header>